* {
    margin: 0;
    border: 0;
    padding: 0;
}

.bd-100-vw-100-vh-bg {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(300deg, #57757e, #5f9ea0 100%);
}

.tb-wd-80 {
    width: 80%;
    font-size: 16px;
}

.font-sz-16 {
    font-size: 16px;
}