* {
    border:0;
    margin:0;
}

body {
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    background-color: #fbe362;

    display: flex;
    flex-direction: column;
}

nav {
    width: 100vw;
    height: 50px;
    background-color: #246BCF;
    position: fixed;
    top:0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0rem .1rem .1rem rgba(0,0,0,.3);
}

nav #ist_logo {
    height: 50%;

    margin-left: 10px;
}

ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding:0;
    margin-right:40px;
}

li {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    padding: 0 20px;
    margin-right: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

}

#home:hover,#images:hover {
    transition: .5s;
    background-color: #2d6bc2;
    transform: translateY(-3%);
}

a {
    text-decoration: none;
}



h1 {
    background-image: url(https://img.freepik.com/free-photo/cement-texture_1194-5332.jpg?size=626&ext=jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(107, 93, 93);
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(58, 58, 58);
    width: auto;
}


hr {
    background-color: rgb(212, 159, 42);
    height: 1px
}

p {

    width: 90%;
    border-radius: 5px;
    padding: 5px;
    background: white;
    box-shadow: -.3rem .3rem 0rem #246BCF,
                -.6rem .6rem 0rem #00B9FC;
    align-self: center;
    margin: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
   
    width: 50px;
    height: 50px;
    outline: none;
    background: url(https://png.clipart.me/istock/previews/2553/25537771-forward-button-icon-drawing.jpg);
    background-size:contain;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid;
    margin-top: 20px;
    margin-left: 10px;
}

button:hover {
    transition: .5s;
    filter: brightness(90%);
}

button:active {
    transform: scale(.98);
}


iframe {
    height: 300px;
    width: 80%;
    margin-top: 20px;
    align-self: center;
}

main {
    background-color: white;
    margin: 30px 0;
    padding: 20px 10px;
    border-radius: 10px;
    width: 60%;
    align-self: center;

    display: flex;
    flex-direction: column;

    box-shadow: -.6rem .6rem 0rem #246BCF,
    -1.2rem 1.2rem 0rem #00B9FC;
}

#description {
    margin-top: 10px;
    padding-left: 5px;
    border-left: 3px solid rgb(64, 152, 224);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
}

footer {

    height: 150px;
    background-color: #F2F3F4;
    margin-top: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(58, 58, 58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    padding: 20px;
}

.social_medias {
    padding:0;
    margin: 0;
}

#facebook,#linkedin {
    filter: grayscale(100%);
    height:50px;
}
#github {
    height:50px;
    filter: contrast(30%)
}

#facebook:hover,#linkedin:hover,#github:hover {
    transition: .5s;
    transform: translateY(-3%);
    filter: grayscale(0%);
}

@media screen and (max-width:510px) {
    #facebook,#github,#linkedin {
        height:30px;
    }
    li {
        margin:0;
        padding: 2px;
    }
    footer {
        font-size: 8px;
    }
}