* {
    margin: 0;
    border:0;
}
body {
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    background: url(img/imagesHtml_bg.jpg);
    background-size: cover;

}

picture {
    width:100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#moldura_noite_estrelada {
    height: 150px;
    width: 110px;
    background: url(img/moldura_3.jpeg);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

#moldura_ultima_ceia {
    margin-top: -80px;
    height: 210px;
    width: 300px;
    background: url(img/moldura_1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

#moldura_mona_lisa {
    height: 270px;
    width: 220px;
    background: url(img/moldura_2.jpeg);
    background-size: cover;
    transform: rotate(-9deg);

    display: flex;
    align-items: center;
    justify-content: center;
}

#noite_estrelada {
    margin-top: 4px;
    height: 102px;
    width: 60px;
}

#ultima_ceia {
    margin-top: 10px;
    height: 155px;
    width: 240px;
}

#mona_lisa {
    margin-right: 1px;
    margin-top: 10px;
    height:188px;
    width:131px;
}

#mona_lisa:hover, #ultima_ceia:hover, #noite_estrelada:hover {
    transition: .5s;
    filter: brightness(90%)
}

@media screen and (max-width: 690px) {
    picture {
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}